{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}" class="rel">
    <link rel="stylesheet" href="{% static 'myapp/shad.css' %}" class="rel">
    
    <title>Mughery Web Services</title>
</head>
<body>

    {% block body %}
    
    {% endblock %}
    
    <script src="{% static 'myapp/script.js' %}" type="text/javascript"></script>
  </body>
  </html>