


.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  
  .archivo {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  }
  
  .glass-container {
    background: linear-gradient(90deg,  #8c52ff, #4df9d1);;
   
  }
  
  @font-face {
  font-family: 'MainFont'; /* Name of your custom font */
  src: url('/fonts/somer/Somer.ttf') format('opentype'); /* Path to your OTF font file */
  /* You can include additional font formats here for cross-browser compatibility */
  }
  
  
  
  
  
  
  
  